body {
    padding-top: 20px;
}

main {
    padding-left: 15px;
    padding-right: 15px;    
}

footer {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;    
}

@media (min-width: 992px) {
    body .container {
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.wrapper_1 {
    margin-top:50px;
    text-justify: inter-word;
}

.wrapper_2 {
    margin-top:30px;
    text-justify: inter-word;
}

.wrapper_3 {
    padding-left:10px;
}

img.picture {
    width: 200px;
    border: 1px;
}

hr.title_sep {
    width: 100%;
}

h1 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:24px;
}

/* navbar, title */

.navbar-default {
    background-color: white;
    border-color: white;
    border-radius: 0;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #3f3d3d;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:40px;
}

.navbar-default .navbar-nav > li > a {
    color: #3f3d3d;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #002A5C;
}

.navbar-default .navbar-text {
    color: #3f3d3d;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #002A5C;
}
